<header>
  <h1>JWT Authorization Example</h1>
</header>
<nav>
  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">START</a>
  <a *ngIf="canAccessUsers()" routerLink="/users" routerLinkActive="active">USERS</a>
  <a *ngIf="canAccessItems()" routerLink="/items" routerLinkActive="active">ITEMS</a>
  <span *ngIf="getUsername()">
    <span class="divider">|</span>
    <a (click)="logOut()">LOGOUT</a>
  </span>
</nav>

<div class="router-outlet">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="left" *ngIf="getUsername()">
    Logged in as: {{getUsername()}}
  </div>
  <div class="left" *ngIf="!getUsername()">
    Not logged in
  </div>
  <div class="right">
    Made by: Michał Rymer
  </div>
</footer>
